* {
    margin: 0;
    padding: 0;
}
html, body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
#top {width:100%; height:10%; background: bisque;}
.break { clear:both }

#midleft {
    height: 70%;
    width :12%;
    float: left;
    background: green;
}
#midcen1 {
    height: 70%;
    width: 32%;
    float: left;
    background: pink;
}

#midcen2 {
    height: 70%;
    width: 32%;
    float: left;
    background: blue;
    transition: width 2s;
}
#midright {
    height: 70%;
    background: black;
    width:24%;
    float: right;
}
h1{
    padding: 0;
    margin: 0;
}

.alignleft
{
    float: left;

}


.alignright{
    direction: rtl;
}
.aligncenter
{
padding-right:140px;
}
