* {
    margin: 0;
    padding: 0;
}

html,body{

    height:100%;
    width:100%;
}
#top{
    height: 10%;
}
#mid {
    height: 88%;
    display: flex;

}

#left
{
    display: flex;
    height: 100%;
    align-self: center;
    font-size: large;
    align-items: center;
    flex: 1;
}
#midleft
{
    display: flex;
    height: 90%;
    align-self: center;

    flex:1.5;
    align-items: center;

}
#midright {
    display:flex;
    align-self: center;
    height: 90%;
    flex:3;
    align-items: center;
    justify-content: center;
}
#right{
    display:flex;
    align-self: center;
    font-size: large;
    flex:3;
    justify-content: center;
}
/* so the report rightmost div can be justified by column instead of by row */
#rightReport{
    display:flex;
    flex-direction: column;
    height: 100%; /* maybe dont allow this for the bottom div */
    align-self: center;
    font-size: large;
    flex:3;
    justify-content: center;
}
#righttopBottom
{
    display: flex;
    width: 100%;
    justify-content: center;
    border-style: hidden;

}
#righttop{
    display:flex;
    flex:1;
    justify-content: center;

    max-height: 25%;
    overflow-y: auto;

}
#righttopright
{
    display: flex;
    height: 100%;
    align-self: center;
    font-size: large;
    align-items: center;
    flex: 1;
}
#rightleft{
    display:flex;
    align-self: center;
    flex: 1;
    justify-content: center;
}



#rightbottom{
    display:flex;
    flex:2;
    flex-direction: column;
    width: 100%;
    align-self: center;


}

#reportHeaderDiv{

    display:flex;
    align-self: flex-start;
    width: 100%;
    justify-content: center;

}

#reportContentDiv{

    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-y: auto;

}

#formRow{
    padding: 0.1em ;
}


.textfield,
.formitem {
    border: 3px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em ;
    border-radius: 2px 1px 1px 2px;
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

}
.form1{
    margin: 0 auto;
    padding: 15px;
    border-radius: 3px;
}

#form2{
    margin: 0 ;
    padding: 0;
    border: none;
}

.centerTable{
    text-align: center;
}